# Docker
Dockerfile
docker-compose.yml

# Git
.git
.gitignore
README.md

# Python
django_intmd/__pycache__/
django_intmd/*/__pycache__/
django_intmd/*/*/__pycache__/

# Environments
.env/
.venv/
venv/

# Others
Makefile
.flake8
.isort.cfg
