{% extends "base_menu.html" %}
{% load static %}

{% block title %}Chat List{% endblock %}

{% block content %}
<div class="centered-container">
    <h1>Chat List</h1>

    {% if room_data_dict %}
        <div class="chat-list">
            {% for room, data in room_data_dict.items %}
            <a href="{% url 'chat_room' room.id %}">
                <div class="chat-item">
                    <div class="chat-meta"></div>
                        {% if data.opposite_user.icon %}
                            <img src="{{ data.opposite_user.icon.url }}" alt="Icon" class="chat-item-icon">
                        {% else %}
                            <img src="{% static 'media/user_icons/default_user_icon.png' %}" alt="Icon" class="chat-item-icon">
                        {% endif %}
                        <h3>{{ data.opposite_user.username }}</h3>
                        <div class="last-message">
                            {{ data.last_message.content|truncatechars:20 }}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    {% else %}
    <p>No chat rooms found</p>
    {% endif %}
</div>
{% endblock %}
