{% extends "base_menu.html" %}
{% load static %}

{% block title %}Create Recruitment{% endblock %}

{% block content %}
<div class="centered-container">
    <button class="back" onclick="history.back()">
        Back
    </button>

    <div class="recruitment-create">
        <h1>Create Recruitment</h1>

        <form action="{% url 'recruitment_create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
                {% if form.title.errors %}
                    <ul class="errorlist">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.content.id_for_label }}">Content</label>
                {{ form.content }}
                {% if form.content.errors %}
                    <ul class="errorlist">
                        {% for error in form.content.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="recruitment-actions">
                <button type="submit" class="submit-button">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
