{% extends "base_menu.html" %}
{% load static %}

{% block title %}Recruitment Timeline{% endblock %}

{% block content %}
<div class="centered-container">
    <div class="action-bar">
        <form method="get" action="{% url 'recruitment_create' %}">
            <button type="submit" class="submit-button">Create New</button>
        </form>
        <form method="get" action="{% url 'recruitment_search' %}">
            <button type="submit" class="submit-button">Search</button>
        </form>
    </div>

    <h1>Recruitment Timeline</h1>

    <div class="timeline-list">
        {% for recruitment in page_obj %}
            <div class="timeline-item">
                <div class="timeline-meta">
                    <a href="{% url 'user_profile_detail' pk=recruitment.user.id %}">
                        {% if recruitment.user.icon %}
                            <img src="{{ recruitment.user.icon.url }}" alt="Icon" class="timeline-icon">
                        {% else %}
                            <img src="{% static 'media/user_icons/default_user_icon.png' %}" alt="Icon" class="timeline-icon">
                        {% endif %}
                    </a>
                    <a href="{% url 'user_profile_detail' pk=recruitment.user.id %}">{{ recruitment.user.username }}</a>
                </div>
                <a href="{% url 'recruitment_detail' pk=recruitment.id %}">
                    <h2>
                        {{ recruitment.title }}
                    </h2>
                    <p>{{ recruitment.content }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            <a href="{% if page_obj.has_previous %}?page=1{% else %}#{% endif %}"
                class="{% if not page_obj.has_previous %}disabled{% endif %}">
                &laquo; first
            </a>
            <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"
                class="{% if not page_obj.has_previous %}disabled{% endif %}">
                previous
            </a>
    
            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
    
            <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"
              class="{% if not page_obj.has_next %}disabled{% endif %}">
              next
            </a>
            <a href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}"
                class="{% if not page_obj.has_next %}disabled{% endif %}">
                last &raquo;
            </a>
        </span>
    </div>

</div>
{% endblock %}
